.title {
  display: flex;
  justify-content: space-between;
}

.card-container {
  width: 40vw;
  height: 80vh;

  .context-card {
    background-color: #414167;

    .context-card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (max-width: 1400px) {
  .card-container {
    width: 55vw;
  }
}

@media (max-width: 900px) {
  .card-container {
    width: 70vw;
  }
}


@media (max-width: 500px) {
  .card-container {
    width: 85vw;
  }
}

